*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

.background__section {
  position: relative;
  z-index: 1;
  width: 1029px;
  height: 848px;
  background: var(--main, #56ccf2);
}

.menu__section {
  display: grid;
  grid-template-columns: repeat(7, 150px);
  align-items: end;
  margin-left: 227px;
  padding-top: 48px;
  color: #fff;
  font-family: Muli;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 150%; /* 24px */
}

.dia {
  grid-column-start: 1;
  grid-column-end: 2;
}

.home {
  grid-column-start: 2;
  grid-column-end: 3;
}

.about_us {
  grid-column-start: 3;
  grid-column-end: 4;
}

.services {
  grid-column-start: 4;
  grid-column-end: 5;
}

.work {
  grid-column-start: 5;
  grid-column-end: 6;
}

.contact_us {
  position: relative;
  z-index: 4;
  grid-column-start: 6;
  grid-column-end: 7;
}

.hire_us {
  position: relative;
  z-index: 4;
  grid-column-start: 7;
  grid-column-end: 8;
  width: 64px;
  margin-left: 40px;
  border-bottom: solid 4px #fcc304;
  text-decoration: none;
}

.title__global {
  display: grid;
  justify-items: end;
  margin-top: 85px;
  margin-bottom: 25px;
  color: #fff;
  font-family: Muli;
  font-weight: 900;
  font-size: 64px;
  font-style: normal;
  line-height: 150%;
}

.content__global {
  display: flex;
  margin-left: 350px;
  justify-content: center;
  max-width: 754px;
  margin-bottom: 42px;
  color: #fff;
  font-family: Muli;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: 150%;
}

.button__global {
  margin-left: 350px;
  display: grid;
  align-content: center;
  width: 226px;
  height: 56px;
  margin-bottom: 80px;
  border-radius: 64px;
  color: var(--text-100, #253757);
  font-family: Muli;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  background: #fff;
}

.img__global {
  position: relative;
  z-index: 5;
  width: 1146px;
  height: 640px;
  margin-left: 227px;
}

.menu__title {
  color: #fff;
  font-family: Muli;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
  line-height: 100%;
}

.blue__rectangle {
  position: relative;
  top: -1000px;
  left: 377px;
  z-index: -1;
  min-width: 1128px;
  height: 299.234px;
  border-radius: 500px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #56ccf2;
  transform: rotate(-65deg);
}

.blue__rectangle__2 {
  position: relative;
  top: -1300px;
  left: 685px;
  z-index: -2;
  min-width: 1128px;
  height: 298.234px;
  border-radius: 500px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #56ccf2;
  transform: rotate(-65deg);
}

.blue__rectangle__3 {
  position: relative;
  top: -1370px;
  left: 878px;
  z-index: -3;
  flex-shrink: 0;
  min-width: 956.925px;
  height: 53.018px;
  border-radius: 500px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #56ccf2;
  transform: rotate(-65deg);
}

.img__switch {
  width: 64px;
  height: 162.462px;
  transform: rotate(90deg);
}
